@font-face {
  font-family: "ITC Edwardian Script";
  src: url("/fonts/ITCEdwardianScript.ttf") format("truetype");
}

.golden-text {
  font-family: "ITC Edwardian Script", cursive;
  color: #f7cf4f;
}

.about-heading {
  font-family: "ITC Edwardian Script", cursive;
  color: #f7cf4f;
}
