
.Whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  z-index: 9999; /* Ensure it's above other content */
}

/* Example WhatsApp button styling */
.Whatsapp a {
  display: block;
  width: 100%;
  height: 100%;
}

.Whatsapp Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Make the image circular */
}


.image-container img {
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}